/* CHECKED */

.item a {
    color: black;
}

/* this means any anchor element that has the class "active" */
a.active {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* This code snippet is a CSS selector that selects the pseudo-element "before" of the "active" class of the "a" element. */
/* Sure ! In CSS,
the code snippet a.active:before is a selector that targets the pseudo-element ::before of any <a>element that has the class active. Pseudo-elements are used to style certain parts of an element,
such as the content before or after the element's content. The ::before pseudo-element allows you to insert content before the content of an element.
In this case, the code snippet is selecting the ::before pseudo-element of any <a>element that also has the class active. This allows you to apply specific styles to the ::before content of active links. */
a.active:before {
    content: '>';
    font-size: 20px;
    margin-right: 10px;
}

.content {
    width: 90%;
}

.trim {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}