<!-- CHECKED -->

<div class="ui container">
    <div class="ui secondary pointing menu">
        <!-- takes the user back to the landing page or the root route of our entire application -->
        <!-- use routerLink to create a routing link to another page / route-->
        <!-- use routerLinkActive to apply CSS classes to the active route -->
        <!-- routerLinkActive is a directive in Angular that is used to dynamically apply a CSS class to an element based on the current router URL. When routerLinkActive is set to "active", it will add the CSS class active to the element when the router URL matches the link's route. This is typically used to highlight or style the active link in a navigation menu. -->
        <a routerLink="/" class="item">Angular Email</a>

        <div class="right menu">
            <!-- ng-container is an Angular directive that acts as a placeholder in the template. It is used to group elements together without creating any additional markup in the DOM. This can be useful when you need to apply structural directives like *ngIf or *ngFor to a group of elements without wrapping them in an additional HTML element. -->
            <!-- This code snippet is using the Angular structural directive *ngIf to conditionally render the content inside the <ng-container> element. It is checking the value of the signedin$ observable and only rendering the content if the observable emits a truthy value. The async pipe is used to subscribe to the signedin$ observable and update the rendering automatically when the observable emits a new value. -->
            <ng-container *ngIf="signedin$ | async">
                <a class="ui item" routerLink="/inbox" routerLinkActive="active">
                    Inbox
                </a>
                <a class="ui item" routerLink="/signout" routerLinkActive="active">
                    Sign Out
                </a>
            </ng-container>
            <ng-container *ngIf="!(signedin$ | async)">
                <!-- Setting the [routerLinkActiveOptions] attribute to an object with a single property exact set to true. It is used in Angular to specify options for the routerLinkActive directive, which is used to apply a CSS class to an element when its associated route is active. That's going to tell Angular that we only want to consider this anchor link to be active if the URL that the user is currently at is exactly "/" by itself (otherwise, will be always active because all routes starts with "/") -->
                <a class="ui item" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
                    Sign In
                </a>
                <a class="ui item" routerLink="/signup" routerLinkActive="active">
                    Sign Up
                </a>
            </ng-container>
        </div>
    </div>

    <!-- needed for the Routing system -->
    <router-outlet></router-outlet>
</div>